sqlalchemy>=2.0
alembic>=1.13
psycopg2-binary>=2.9
pydantic>=2.6
pydantic-settings>=2.2
pydantic[email]
fastapi>=0.110
uvicorn[standard]>=0.29
pyjwt>=2.7
bcrypt>=4.0
python-multipart>=0.0.9
Pillow>=10.0
pypdf>=4.0
